fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn
sqlalchemy==2.0.35
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[argon2]
python-multipart==0.0.12
slowapi==0.1.9
pydantic[email]==2.9.2
aiosqlite==0.20.0
alembic
psycopg2-binary
